/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 1, 2026, 5:04:35 PM
    Author     : corey
*/

#item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    width: 20vh;
    height: 10vh;
    flex: 0 0 25%;
    text-align: center;
    margin: 0.5vh;
    font-size: 30px;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 2.5vh;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#number_of_staff {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: red;
    justify-self: center;

}