.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  font-size: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: hwb(125 43% 0%);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px #646464; 
  box-shadow: 5px 5px 15px 5px #646464;
}

.navbar-text {
  margin: 5vh;
  font-size: 25px;
}

img {
  height: 100%;
  width: auto;
  -webkit-box-shadow: 5px 5px 15px 5px #646464; 
  box-shadow: 5px 5px 15px 5px #646464;
}

.landing > * {
  margin: 5vh;
}

.landing {
  align-self: center;
    /* margin: 10vh auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */

}

.landing, img, h1, .browse-btn {
  text-align: center;

}

.browse-btn {
  height: 15vh;
  width: 35vh;
  border-radius: 50%;
  font-size: 25px;
  background-color: hwb(125 43% 0%);
  -webkit-box-shadow: 5px 5px 15px 5px #646464; 
  box-shadow: 5px 5px 15px 5px #646464;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.title {
  text-align: center;
  font-size: 5vh;
}

.checkout-items {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.checkout-form {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr;
  width: 75vh;
  gap: 2vh;
  align-self: center;
  justify-self: center;
  margin: 5vh;
}

#checkout-button {
  width: 15vh;
  justify-self: center;
}

input {
  padding: 1vh;
  border: 1px solid black;
  -webkit-box-shadow: inset 2px 2px 2px 1px #646464; 
  box-shadow: inset 2px 2px 2px 1px #646464;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 35vh;
  height: 50vh;
  margin: 10vh;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 15px 5px #646464; 
  box-shadow: 5px 5px 15px 5px #646464;
}

.purchasing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 35vh;
  height: 50vh;
  margin: 10vh;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 15px 5px #646464; 
  box-shadow: 5px 5px 15px 5px #646464;
  font-size: 30px;
}

.buy-button {
  background-color: hwb(125 43% 0%);
  width: 15vh;
  height: 10vh;
  border-radius: 5%;
}
#buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
#cancel-button, #checkout-button {
  width: 15vh;
  height: 10vh;
  border-radius: 5%;
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 15px 5px #646464; 
  box-shadow: 5px 5px 15px 5px #646464;
}

#checkout-button {
  background-color: hwb(125 43% 0%);
}
#cancel-button {
  display: flex;
  background-color: rgb(255, 86, 74);
  border: 2px solid black;
  justify-content: center;
}

.fruit-image {
  width: 30vh;
  padding-bottom: 2vh;
}